[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Playbooks for gnocchi & ceilometer
[access "refs/*"]
	owner = group user/nataf37
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/nataf37
	label-Verified = -1..+1 group user/nataf37
	push = group user/nataf37
	read = group user/nataf37
	rebase = group user/nataf37
	removeReviewer = group user/nataf37
	submit = group user/nataf37
[access "refs/heads/*"]
	create = group user/nataf37
	push = +force group user/nataf37
	pushMerge = group user/nataf37
	read = group user/nataf37
[access "refs/tags/*"]
	push = group user/nataf37
	push = +force group user/nataf37
